.p-container {
    margin-top: 4rem;
    width: 100%;
    min-height: 100vh;
    width: 100%;
    margin-left: 16rem;
    padding: 1rem;
    overflow: auto !important;
}

.board-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */
}

.board-wrapper {
    padding: 1rem 0.5rem;
}

.board-top-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rounded {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.6rem;
}

.board-top-flex h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

.items-card {
    padding: 0.8rem 0.5rem;
    background-color: #2c2c38;
    margin: 0.5rem;
    border-radius: 3px;
    color: #97989f;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.items-card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.items-card h5 {
    font: size 2rem;
    font-weight: 500;
}

.newB-container {
    padding: 1rem 0.5rem;
}

.newB-container p {
    margin-bottom: 1rem;
}

.newB-container .content-flex {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c38;
    margin-top: 1.7rem;
    border-radius: 3px;
    min-height: 10vh;
    cursor: pointer;
}

.sub-card {
    width: 100%;
    padding: 0.7rem 0.4rem;
    border-radius: 0.3rem;
    background-color: #21222d;
    display: flex;
    margin: 0.5rem auto;
    align-items: flex-start;
    /* justify-content: flex-start; */
}

.sub-card span {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.sub-card input[type="checkbox"] {
    appearance: none;
    /* creating a custom design */
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.15em;
    margin-right: 0.3em;
    border: 0.13em solid #625fc9;
    outline: none;
    cursor: pointer;
}

.sub-card input.checked::before {
    content: "✓";
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    right: 1px;
    top: -3px;
}

.sub-card input:checked {
    position: relative;
    background-color: #625fc9;
}

.card-container .status-input select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #585e6a;
    outline: none;
    background-color: transparent;
    color: #fff;
    border-radius: 0.3rem;
    margin: 0.4rem auto;
}

.card-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card-container p {
    font-size: 1rem;
    font-weight: 400;
    color: #74767d;
    margin-bottom: 0.7rem;
}

.sub-wrapper h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    margin: 0.7rem auto;
}